Aparna Pal <apal4@wisc.edu>
Bio-Formats <bf-imagej@imagej.net> <bf5-imagej@imagej.net>
Christian Tischer <tischitischer@gmail.com> <christian.tischer@embl.de>
Cornelius Sicker <cornelius.sicker@googlemail.com> <cornelius.sicker@web.de>
David Hoerl <hoerldavid@gmail.com> <davidhoerl@icloud.com>
Deborah Schmidt <mail@frauzufall.de>
Edward Evans <elevans2@wisc.edu> <echnoviru@gmail.com>
Jean-Yves Tinevez <tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Joe Napoli <joe.napoli.dev@gmail.com>
Kyle Harrington <Kyle.Harrington@mdc-berlin.de> <kephale00@gmail.com>
Kyle Harrington <Kyle.Harrington@mdc-berlin.de> <kephale@users.noreply.github.com>
Kyle Harrington <Kyle.Harrington@mdc-berlin.de> <kharrin3@bidmc.harvard.edu>
Kyle Harrington <Kyle.Harrington@mdc-berlin.de> <kharrington@uidaho.edu>
Martin Capek <martin.capek@img.cas.cz>
Nicolas Chiaruttini <nicolas.chiaruttini@epfl.ch> <limesegmentation@gmail.com>
Nicolas Chiaruttini <nicolas.chiaruttini@epfl.ch> <nicolas.chiaruttini@gmail.com>
Romain Fernandez <romainfernandez06@gmail.com>
Stephan Saalfeld <saalfelds@hhmi.org> <saalfelds@janelia.hhmi.org>
Thomas Boudier <mcib3d@users.noreply.github.com>
Thomas Boudier <thomas.boudier@upmc.fr> <mcib3d@users.noreply.github.com>
Thorsten Wagner <wagner@biomedical-imaging.de> <thotho@posteo.de>
