Andrew McCall <amccall@buffalo.edu>
Andrew McCall <amccall@buffalo.edu> <56968719+andmccall@users.noreply.github.com>
Anthony Sinadinos <Anthony.Sinadinos@gmail.com>
Aparna Pal <apal4@wisc.edu>
Beat Münch <beat.muench@empa.ch>
Bio-Formats <bf-imagej@imagej.net> <bf5-imagej@imagej.net>
Brenton Cavanagh <brentoncavanagh@rcsi.ie> <32094152+BrentonCavanagh@users.noreply.github.com>
Christian Tischer <tischitischer@gmail.com> <christian.tischer@embl.de>
Cornelius Sicker <cornelius.sicker@googlemail.com> <cornelius.sicker@web.de>
David Hoerl <hoerldavid@gmail.com> <davidhoerl@icloud.com>
Deborah Schmidt <mail@frauzufall.de>
Edward Evans <elevans2@wisc.edu> <echnoviru@gmail.com>
Gabriel Landini <landinig@users.noreply.github.com>
Hadrien Mary <marelo64@gmail.com>
Jan Kozusznik <scijava-parallel@kozusznik.cz>
Jean-Yves Tinevez <tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Jerome Mutterer <jerome.mutterer@gmail.com>
Jerome Mutterer <jerome.mutterer@gmail.com> <jerome.mutterer@ibmp.fr>
Jerome Mutterer <jerome.mutterer@gmail.com> <mutterer@ibmp.fr>
Joe Napoli <joe.napoli.dev@gmail.com>
Jonathan Heras <jonathan.heras@unirioja.es>
Josh Moore <josh@glencoesoftware.com>
Josh Moore <josh@glencoesoftware.com> <j.a.moore@dundee.ac.uk>
Karl Duderstadt <duderstadt@biochem.mpg.de>
Kyle Harrington <Kyle.Harrington@mdc-berlin.de> <kephale00@gmail.com>
Kyle Harrington <Kyle.Harrington@mdc-berlin.de> <kephale@users.noreply.github.com>
Kyle Harrington <Kyle.Harrington@mdc-berlin.de> <kharrin3@bidmc.harvard.edu>
Kyle Harrington <Kyle.Harrington@mdc-berlin.de> <kharrington@uidaho.edu>
Laurent Guerard <l.guerard42@gmail.com>
Marco Tarasco <marcotar90@gmail.com>
Mark Tsuchida <matsuchida@wisc.edu>
Martin Capek <martin.capek@img.cas.cz>
Nicolas Chiaruttini <nicolas.chiaruttini@epfl.ch> <limesegmentation@gmail.com>
Nicolas Chiaruttini <nicolas.chiaruttini@epfl.ch> <nicolas.chiaruttini@gmail.com>
Pedro Gomez-Galvez <pgomez-ibis@us.es>
Romain Fernandez <romainfernandez06@gmail.com>
Spam <spam> <farizigardito@92jrkl.tk>
Spam <spam> <ghostrifles01@zohomail.in>
Spam <spam> <jackspraw77@gmail.com>
Spam <spam> <modernresolutionwindows@yandex.com>
Spam <spam> <spam@spam.spam>
Stephan Preibisch <stephan.preibisch@mdc-berlin.de>
Stephan Saalfeld <saalfelds@hhmi.org> <saalfelds@janelia.hhmi.org>
Thomas Boudier <mcib3d@users.noreply.github.com>
Thomas Boudier <thomas.boudier@upmc.fr> <mcib3d@users.noreply.github.com>
Thorsten Wagner <wagner@biomedical-imaging.de> <thotho@posteo.de>
Tobias Pietzsch <tobias.pietzsch@gmail.com>
Uwe Schmidt <imagej@uweschmidt.org> <uschmidt83@users.noreply.github.com>
