.thumbnail {
    width: 400px;
    float: right;
    background-color: #f1f1f3;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.thumbnail > a {
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.thumbnail-group {
    float: right;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.thumbnail > a:hover {
    border: 0;
    background: #e1e1e3;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery .thumbnail {
    width: 200px;
    float: none;
    display: inline-block;
}

.gallery .thumbnail > a {
    height: 200px;
}

.gallery .thumbnail-group {
    float: none;
    max-height: 100%;
}

.gallery .thumbnail-group img{
    max-width: 100%;
    max-height: 100%;
}

.bc {
    font-style: italic;
}

#info-box {
  position: relative;
  float: right;
  width: 240px;
  font-size: 0.75em;
}

@media screen and (min-width: 780px) {
  .toc {
    position: absolute;
    left: 0;
    font-size: 0.75em;
    width: 240px;
    float: left;
  }

  .toc ol {
      margin: 0;
      padding-left: 1.4em;
      border-left: 1px solid black;
      list-style-type: none;
      line-height: 20px;
  }

  .toc > ol {
      border: none;
      padding: 20px 40px 20px 40px;
  }

  .toc a {
      color: black;
  }

  .toc ol li {
      margin-bottom: 0px;
  }
}
@media screen and (max-width: 780px) {
  .toc {
    display: none;
    }
}
.page-content h1, h2 {
    clear: left;
}

.include {
    border: 2px solid red;
    padding: 5px;
    display: inline-block;
}

.wrap {
  position: relative;
  max-width: 50%;
}
