.thumbnail {
    width: 400px;
    float: right;
    background-color: #f1f1f3;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.thumbnail-group {
    float: right;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

a.thumbnail:hover {
    border: 0;
    background: #e1e1e3;
}

.bc {
    font-style: italic;
}