#one {
  text-align: center;
}

#site-logo {
  visibility: hidden;
}

#header img {
  display: block;
  width: auto;
  height: calc(70vh - 12em);
  margin: auto;
  padding-top: 5vh;
  min-height: 200px;
}

#resources {
  background-image: linear-gradient(90deg, #298d56, #7a55a3);
  padding-top: 1.5em;
  width: 100%;
}
#resources header {
  font-size: 1.75em;
}

#resources table {
  width: 100%; max-width: 900px
}
#resources tr {
  background: none;
}
#resources td {
  white-space: nowrap;
}
#resources td:first-child {
  text-align: left;
}
#resources td:last-child {
  text-align: right;
}

@media screen and (max-width: 900px) {
  #resources li { font-size: 0.9em; }
}
@media screen and (max-width: 820px) {
  #resources li { font-size: 0.8em; }
}
@media screen and (max-width: 720px) {
  #resources li { font-size: 0.7em; }
  #resources td { font-size: 0.9em; }
}
@media screen and (max-width: 620px) {
  #resources li { font-size: 0.6em; }
  #resources td { font-size: 0.8em; }
}
@media screen and (max-width: 520px) {
  #resources li { font-size: 0.5em; }
  #resources td { font-size: 0.7em; }
}

.dots {
  width: 100%;
  background-image: url('/media/site/dot.png');
  background-repeat: repeat-x;
  background-position-y: center;
}

.container {
  margin-top: 1em;
}

.text-success {
  color: #28a745!important;
}
.text-primary {
  color: #007bff!important;
}
.text-danger {
  color: #dc3545!important;
}
.text-center {
  text-align: center!important;
  margin-top: 2.0em;
}
.text-center h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.fa-5x {
  font-size: 5em;
}

/* Table Why ImageJ */

.container-whyij {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.row-whyij {
  width: 100%;
  display: flex;
}

.col-4 {
  width: 30.5%;
  text-align:center;
  vertical-align:top;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.col-4 p {
  margin-top: 1em;
  font-size: 1.2em;
}

.col-4 h2 {
  font-size: 1.6em;
}

@media screen and (max-width: 879px) {

  .row-whyij {
    flex-direction: column;
    text-align:center;
    vertical-align:top;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .col-4 {
    width: 100%;
    text-align:center;
    vertical-align:top;
  }

  .row-whyij > .col-4 {
    width: 65%;
    align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
