@import "main.css" print;

.table-info {
	border: 0px solid #aaa;
}

	.table-info td {
		padding: 2px 0px 2px 0.5em;
		margin: auto;
		vertical-align: middle;
	}

	.table-info p {
		margin: 0;
	}

	.table-info ul {
		list-style: disc;
		margin: 0;
		padding-left: 2em;
	}

	table.warning-notice {
		background: #FFCCCB;
	  border-left: 10px solid #b32424;
	 }

	table.info-notice {
		background: #ebf2f8;
	  border-left: 10px solid #36c;
	 }

	table.tip-notice {
		background: #dedede;
		margin-top: 15px;
		border-left: 10px solid #7E7E7E;
	}

.testimonial {
	position: relative;
  float: right;
  width: 50%;
  font-size: 0.75em;
	padding: 15px !important;
}

	table.table-OS-info {
		background-color: #e9f5f8; -moz-border-radius: .75em; -webkit-border-radius: .75em;
		border-radius: .75em; -moz-box-shadow: 4px 4px 4px #CCC; -webkit-box-shadow: 4px 4px 4px #CCC;
		box-shadow: 4px 4px 4px #CCC;
		vertical-align: middle;
		width: 40%;
		float:right;
		border: 0px solid #ccc;
		padding: 15px !important;
	}


div.minibox {
	    border: thin solid #cccccc;
	    background-color: #f9f9f9;
	    font-size: 0.875em;
	    text-align: center;
	    overflow: hidden;
			float: right;
			position: relative;
	}

div.miniboxcaption {
			font-family: 'Linux Libertine',constantia,'hoefler text','palatino linotype',serif;
			line-height: 1.4;
			color: #333333;
			direction: ltr;
			margin: 0;
			outline: 0;
			font-size: 100%;
			vertical-align: baseline;
			background: transparent;
			border: none;
			padding: 0.2em;
			text-align: left;
}

/* Details-box */

	.details-box {
		max-width: 50%;
		float: right;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #f9f9f9;
		border: 1px solid #a0a0a0;
		margin: 0.5em 0 1em 1em;
		overflow-x: hidden;
		padding: 0.5em 1em 0.5em 1em;
	}

	.details-box h3 {
		padding: 0 0 0.5em 0;
	}

	.details-box table {
		background-color: #f9f9f9;
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
		text-align: left;
	}

	.details-box tbody {
		background-color: #f9f9f9;
		text-align: left;
	}

	.details-box tr {
		text-align: left;
	}

	.details-box td {
		padding: 0 0 0 0;
	}

	.details-box th {
		background: lightgray;
		font-variant: small-caps;
		text-align: center;
		font-weight: bold;
		font-size: medium;
		padding: 0 0.5em 0 0.5em;
	}

	.details-box a {
		padding: 0.1em 0 0 0;
		text-decoration: none;
		text-align: justify;
		font-size: medium;
		font-weight: 500;
		color: #0014ca;
		display: inline-block;
		border-bottom: none;
		margin-bottom: 0;
	}

	.details-box p {
		font-size: large;
		text-align: justify;
		font-weight: 500;
		padding: 0.1em 0 0 0;
		text-decoration: none;
		font-size: medium;
		display: block;
		margin: 0 0 0 0;
	}

/* Sidebox */

	.sidebox-right {
		float: right;
		width: 40%;
		border: 0px solid #ccc;
		padding: 15px !important;
		margin-top: 1em;
		margin-bottom: 2em;
		margin-left: 1em;
		background-color: white;
		border-radius: .75em;
		box-shadow: 4px 4px 4px #CCC;
	}

	.sidebox-left {
		float: left;
		width: 40%;
		border: 1px solid #ccc;
		padding: 15px !important;
		margin-top: 1em;
		margin-bottom: 2em;
		margin-right: 1em;
		background-color: #ffefbe;
		border-radius: .75em;
		box-shadow: 4px 4px 4px #CCC;
	}

/* User box */

	.userbox {
		font-size: 0.75em;
		width: 16em;
		overflow-wrap: break-word;
	}

	.userbox h3 {
		margin: 0 0 0.5em 0 !important;
	}

	.userbox table {
		background-color: #FFFFFF;
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
		text-align: left;
		padding-left: 5px;
	}

	.userbox tbody {
		background-color: #FFFFFF;
		text-align: left;
	}

	.userbox table tbody tr:nth-child(2n+1) {
		background-color: #FFFFFF;
	}

	.userbox tr {
		text-align: left;
	}

	.userbox td {
		padding: 0 0 0 0;
	}

	.userbox th {
		background: lightgray;
		text-align: center;
		font-weight: bold;
		font-size: medium;
		padding: 0 0.5em 0 0.5em;
	}

	.userbox hr {
		border-bottom: solid 1px gray;
		margin: 0.5em -0.1em 0 0;
	}
}


/* biginfo */

  table.table-biginfo {
    margin: 0 10%;
    border-collapse: collapse;
    background: #e6e6e6;
    border: 1px solid #aaa;
    border-left: 10px solid #1e90ff !important;
    width: 80%;
    float: center;
}

/* Info-box */

div.info-box {
width: 60%;
}
