.notice {
  border: 0px solid #aaa;
  padding: 0.5em;
  margin-bottom: 1em;
}

.notice-icon {
  font-size: x-large;
  padding-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.notice-icon img {
  max-width: 32px;
  max-height: 32px;
}

.notice-content {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.1em;
  line-height: 1.3em;
  margin-bottom: -0.5em;
  max-width: calc(100% - 32px - 1em);
}

/* ===== DEPRECATED NOTICE STYLES ===== */

.table-info {
  border: 0px solid #aaa;
}

.table-info td {
  margin: auto;
  vertical-align: middle;
}

.table-info p {
  margin: 0;
}

.table-info ul {
  list-style: disc;
  margin: 0;
  padding-left: 2em;
}

table.warning-notice {
  background: #FFCCCB;
}

table.info-notice {
  background: #ebf2f8;
  border-left: 10px solid #36c;
}

table.tip-notice {
  background: #dedede;
  margin-top: 15px;
  border-left: 10px solid #7E7E7E;
}

table.biginfo {
  margin: 0 10%;
  border-collapse: collapse;
  background: #e6e6e6;
  border: 1px solid #aaa;
  border-left: 10px solid #1e90ff !important;
  width: 80%;
  float: center;
}

.testimonial {
  position: relative;
  float: right;
  width: 50%;
  font-size: 0.75em;
  padding: 15px !important;
}

table.table-OS-info {
  background-color: #e9f5f8; -moz-border-radius: .75em; -webkit-border-radius: .75em;
  border-radius: .75em; -moz-box-shadow: 4px 4px 4px #CCC; -webkit-box-shadow: 4px 4px 4px #CCC;
  box-shadow: 4px 4px 4px #CCC;
  vertical-align: middle;
  width: 40%;
  float:right;
  border: 0px solid #ccc;
  padding: 15px !important;
}


div.minibox {
  border: thin solid #cccccc;
  background-color: #f9f9f9;
  font-size: 0.875em;
  text-align: center;
  overflow: hidden;
  float: right;
  position: relative;
}

div.miniboxcaption {
  font-family: 'Linux Libertine',constantia,'hoefler text','palatino linotype',serif;
  line-height: 1.4;
  color: #333333;
  direction: ltr;
  margin: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: none;
  padding: 0.2em;
  text-align: left;
}

.info-box {
  position: relative;
  float: right;
  width: 240px;
  font-size: 0.75em;
}

/* ===== SIDEBOXES ===== */

.sidebox {
  width: 40%;
  border: 0px solid #ccc;
  padding: 15px !important;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 1em;
  background-color: white;
  border-radius: .75em;
  box-shadow: 4px 4px 4px #CCC;
}

.left {
  float:left;
}

.right {
  float:right;
}
