---
# This is a Sass file. Jekyll will compile it to plain CSS.
---

$logoSize: 48px;
$topBarHeight: $logoSize;
$boxShadowSize: 4px;
$searchBarPadding: 5px;
$hitTitleWidth: 200px;
$hitIconSize: 36px;
$hitPadding: 5px;

$hamMenuWidth: 250px;
$hamMenuEdge: 20px;

$sidebarWidth: 270px;
$sidebarMargin: 12px;
$sidebarPadding: 10px;

/* ------------------------------ SEARCH BAR ------------------------------ */

#top-bar {
  background-color: #3f454b;
  overflow: hidden;
}

#site-logo {
  height: $logoSize;
  float: left;
}

#search-panel {
  display: inline-block;
  width: #{'calc(100% - #{$logoSize + 1})'};
  height: $topBarHeight;
}

#search-hits {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

#search-results .filters {
  /* TODO */
}

#search-results {
  position: absolute;
  width: #{'calc(100% - #{$logoSize + $boxShadowSize + 3})'};
  top: $topBarHeight + $boxShadowSize;
  left: $logoSize;
  background: #eee;
  box-shadow: $boxShadowSize $boxShadowSize $boxShadowSize lightgray;
  display: none;
  z-index: 1;
}

.ais-Hits-list {
  list-style: none;
  display: block;
  margin-top: 0;
}

.ais-Hits-item {
  width: #{'calc(100% - #{$boxShadowSize + 4*$hitPadding})'};
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  box-shadow: none;
  border: none;
}

.search-result {
  height: $logoSize;
  color: black;
}

.search-result:hover {
  background: #dd7;
}

.hit-icon {
  width: $hitIconSize;
  height: $hitIconSize;
  float: left;
}

.hit-title {
  display: inline-block;
  width: $hitTitleWidth;
  height: $hitIconSize;
  margin-left: $hitPadding;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hit-description {
  display: inline-block;
  width: #{'calc(100% - #{$hitTitleWidth + $hitIconSize + 2*$hitPadding + 18px})'};
  height: $hitIconSize;
  margin-left: $hitPadding;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  line-height: 17px;
}

.hit-name {
  display: inline-block;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#search-box {
  margin-top: $searchBarPadding;
  width: #{'calc(100% - #{$searchBarPadding})'};
  height: $topBarHeight;
}

#pagination {
  margin: 1rem auto;
  text-align: center;
}

/* ---------------------------- HAMBURGER MENU ---------------------------- */

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * https://codepen.io/erikterwan/pen/EVzeRP
 *
 * MIT License
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

#ham-toggle {
  display: block;
  position: absolute;
  top: 14px;
  left: 12px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#ham-toggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#ham-toggle a:hover {
  color: tomato;
}


#ham-toggle input {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -5px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#ham-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition:
  transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#ham-toggle span:first-child {
  transform-origin: 0% 0%;
}

#ham-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#ham-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(6px, -2px) scale(0.7, 0.7);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#ham-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#ham-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(8px, 2px) scale(0.7, 0.7);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#ham-menu {
  position: absolute;
  width: $hamMenuWidth;
  margin: -100px 0 0 -50px;
  padding: 80px 5px 5px 50px;
  box-shadow: 1px 1px 6px #444;

  background: #eee;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/*
 * And let's slide it in from the left
 */
#ham-toggle input:checked ~ ul
{
  transform: none;
}

#ham-menu .menu details > summary:after {
  left: $hamMenuWidth - $hamMenuEdge;
}

#ham-menu .menu details[open] > summary:after {
  left: $hamMenuWidth - $hamMenuEdge - 1;
}

.sidebar {
  width: $sidebarWidth - $sidebarMargin;
  height: 100vh;
  position: sticky;
  top: 1rem;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.sidebar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.sidebar > div {
  margin: 0 $sidebarMargin 10px $sidebarMargin;
  padding: 5px $sidebarPadding 0 $sidebarPadding;
  box-shadow: $boxShadowSize $boxShadowSize $boxShadowSize lightgray;
  background: #eee;
}

#left-column {
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#right-column {
  margin-top: -70px;
  float: right;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* --------------------------------- MENU --------------------------------- */


.menu {
  font-size: 0.85em;
}

.menu h3 {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid darkgray;
  margin: 0 2em 0.5em 2em;
}

.menu ul {
  margin: 0;
  border-left: 1px solid gray;
  list-style-type: none;
  line-height: 1em;
  padding-left: 0.5em;
}

.menu > ul {
  border: none;
  padding: 0 0 1rem 0;
}

.menu a {
  color: #444;
}

.menu ul li {
  margin-bottom: 0px;
  margin-right: 10px;
}

.menu li {
  margin: 10px 0;
}

.menu summary {
  outline: none;
  cursor: pointer;
}

.menu summary.li {
  padding-left: 1.4em;
}

.menu details > summary {
  list-style: none;
}

.menu summary::-webkit-details-marker {
  display: none;
}

.menu details > summary:after {
  content: "▹";
  font-size: 10px;
  position: absolute;
}

.menu details[open] > summary:after {
  content: "▿";
  font-size: 11px;
}

.menu a.current-page {
  font-weight: bold;
  color: black;
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

.menu a.current-page:hover {
  border-bottom: none;
}

$leftColumnArrowOffset: $sidebarWidth - 2*$sidebarMargin - 2*$sidebarPadding - 30px;

#left-column .menu details > summary:after {
  left: $leftColumnArrowOffset;
}

#left-column .menu details[open] > summary:after {
  left: $leftColumnArrowOffset - 1;
}

#right-column .menu details > summary:after {
  right: $sidebarMargin;
}

#right-column .menu details[open] > summary:after {
}

/* ------------------------------- STATBOX -------------------------------- */

#statbox {
  font-size: small;
  padding-bottom: 1.5em;
}

#statbox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#statbox ul li {
  font-size: smaller;
  white-space: nowrap;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

#statbox h3 {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid darkgray;
  margin-bottom: 0.5em;
}

#statbox img {
  max-width: 100%;
}

#statbox #statbox-image {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

#statbox #statbox-name {
  font-size: large;
}

#statbox #statbox-honorific {
  font-size: medium;
  margin-top: -0.5em;
}

#statbox #statbox-honorific img {
  vertical-align: middle;
}

#statbox #statbox-header {
  text-align: center;
}

#statbox #statbox-affiliation {
  clear: left;
  line-height: 1.2em;
}

#statbox .btn-refresh {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0.25em 0.25em;
  line-height: 0 !important;
  text-indent: 0 !important;
  letter-spacing: 0 !important;
}

/* ------------------------------- NAV BAR -------------------------------- */

/* Credit: https://stackoverflow.com/a/37053489/1207769 */

#nav-bar {
  text-align: center;
  position: sticky;
  top: 0;
  font-size: small;
  margin-left: $sidebarWidth - $sidebarPadding;
  margin-right: $sidebarWidth - $sidebarPadding;
  z-index: 1;
}

#nav-bar li {
  display: inline;
  padding-left: 0;
}

#nav-bar li::after {
  content: " ";
  word-spacing: 1em;
  background-image: linear-gradient(
    -0.25turn,
    transparent 0 calc(50% - 0.03em),
    currentcolor 0 calc(50% + 0.03em),
    transparent 0
  );
}

/* -------------------------------- HEADER -------------------------------- */

#header {
  padding: 9em 0 9em 0;
  background-image: url("/media/site/overlay7.png");
  color: rgba(255, 255, 255, 0.75);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
  min-width: 420px;
}

#header a {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

#header a:hover {
  color: #ffffff;
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header strong, #header b {
  color: #ffffff;
}

#header header p {
  color: #ffffff;
}

#header header.major:after {
  background: #ffffff;
}

#header input[type="submit"],
#header input[type="reset"],
#header input[type="button"],
#header button,
#header .button {
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
}

#header input[type="submit"]:hover,
#header input[type="reset"]:hover,
#header input[type="button"]:hover,
#header button:hover,
#header .button:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

#header input[type="submit"]:active,
#header input[type="reset"]:active,
#header input[type="button"]:active,
#header button:active,
#header .button:active {
  background-color: rgba(255, 255, 255, 0.25);
}

#header input[type="submit"].primary,
#header input[type="reset"].primary,
#header input[type="button"].primary,
#header button.primary,
#header .button.primary {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff !important;
  color: #4686a0 !important;
}

#header input[type="submit"].primary:hover,
#header input[type="reset"].primary:hover,
#header input[type="button"].primary:hover,
#header button.primary:hover,
#header .button.primary:hover {
  background-color: rgba(255, 255, 255, 0.125) !important;
  color: #ffffff !important;
}

#header input[type="submit"].primary:active,
#header input[type="reset"].primary:active,
#header input[type="button"].primary:active,
#header button.primary:active,
#header .button.primary:active {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

#header ul.major-icons li .icon {
  border-color: #ffffff;
}

#header .icon.major {
  color: #ffffff;
}

#header h1 {
  margin: 0;
}

#header p {
  margin: 1.5em 0 0 0;
  font-size: 1.3em;
  position: absolute;
  width: 100%;
  text-align: center;
  /* font-weight: 500; */
}

#header .actions {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-top: 9em;
  margin-left: 0;
  position: relative;
}

#header .actions li:first-child {
  padding-left: 0;
}

#header .actions:after {
  background: #ffffff;
  content: '';
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 100%;
}

#header .inner {
  -moz-transition: -moz-transform 1.5s ease, opacity 2s ease;
  -webkit-transition: -webkit-transform 1.5s ease, opacity 2s ease;
  -ms-transition: -ms-transform 1.5s ease, opacity 2s ease;
  transition: transform 1.5s ease, opacity 2s ease;
  -moz-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  position: relative;
  z-index: 1;
  margin: 0 3em 0 3em;
  height: auto;
}

#header .inner .actions {
  -moz-transition: -moz-transform 1.25s ease;
  -webkit-transition: -webkit-transform 1.25s ease;
  -ms-transition: -ms-transform 1.25s ease;
  transition: transform 1.25s ease;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#header:after {
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
  background-image: linear-gradient(45deg, #5eab9f, #4361c2);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

body.is-preload #header .inner {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0;
}

body.is-preload #header .inner .actions {
  -moz-transform: translateY(30em);
  -webkit-transform: translateY(30em);
  -ms-transform: translateY(30em);
  transform: translateY(30em);
  opacity: 0;
}

body.is-preload #header:after {
  opacity: 1;
}

#header {
  padding: 8em 3em 8em 3em;
}

/* -------------------------------- FOOTER -------------------------------- */

#footer {
  padding: 4em 0 4em 0;
  background-image: url("/media/site/overlay8.png"), url("/media/site/header.jpg");
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  text-align: center;
}

#footer a {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
  color: #ffffff;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer strong, #footer b {
  color: #ffffff;
}

#footer header p {
  color: #ffffff;
}

#footer header.major:after {
  background: #ffffff;
}

#footer input[type="submit"],
#footer input[type="reset"],
#footer input[type="button"],
#footer button,
#footer .button {
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
}

#footer input[type="submit"]:hover,
#footer input[type="reset"]:hover,
#footer input[type="button"]:hover,
#footer button:hover,
#footer .button:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

#footer input[type="submit"]:active,
#footer input[type="reset"]:active,
#footer input[type="button"]:active,
#footer button:active,
#footer .button:active {
  background-color: rgba(255, 255, 255, 0.25);
}

#footer input[type="submit"].primary,
#footer input[type="reset"].primary,
#footer input[type="button"].primary,
#footer button.primary,
#footer .button.primary {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff !important;
  color: #4686a0 !important;
}

#footer input[type="submit"].primary:hover,
#footer input[type="reset"].primary:hover,
#footer input[type="button"].primary:hover,
#footer button.primary:hover,
#footer .button.primary:hover {
  background-color: rgba(255, 255, 255, 0.125) !important;
  color: #ffffff !important;
}

#footer input[type="submit"].primary:active,
#footer input[type="reset"].primary:active,
#footer input[type="button"].primary:active,
#footer button.primary:active,
#footer .button.primary:active {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

#footer ul.major-icons li .icon {
  border-color: #ffffff;
}

#footer .icon.major {
  color: #ffffff;
}

#footer .icons {
  margin: 0;
}

#footer .copyright {
  font-size: 0.8em;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
}
#footer .copyright a {
  color:#ffffffbf;
}

#footer .copyright li {
  border-left: solid 1px;
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding: 0 0 0 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
}

#footer {
  padding: 1.5em 3em 1.5em 3em;
}

/* --------------------------- PAGE INFORMATION --------------------------- */

.page-info {
  text-align: right;
  font-style: italic;
  font-size: small;
  padding: 0.5em 0.5em 1em 0;
  line-height: 1.2em;
}

.page-info a {
  border-bottom: none;
  padding: 0 0.5em 0 0;
}
