/* Plugin index */

.plugin-index h1 {
  text-transform: capitalize;
}

.plugin-index ul {
  display: flex;
  flex-wrap: wrap;
}

.plugin-index li {
  flex-grow: 0;
  width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  padding-bottom: 0.5em;
  align-items: center;
}

.plugin-index a {
  padding-left: 0.3em;
}
