/* Plugin grid */

.plugin-index {
    font-weight: 500;
}

.plugin-index table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.plugin-index table td {
    vertical-align: middle;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
}

.plugin-index table td a {
    vertical-align: middle;
    padding: 0 0 0 0;
}

.plugin-index table tbody tr {
    border-left: 0;
    border-right: 0;
    background-color: #ffffff;
}