/* Plugin index */

.plugin-index h1 {
  text-transform: capitalize;
}

.plugin-index ul {
  display: flex;
  flex-wrap: wrap;
}

.plugin-index li {
  flex-grow: 0;
  width: 33%;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plugin-index a {
  vertical-align: middle;
  padding-bottom: 1.2em;
}
