#statbox {
	font-size: small;
	padding-bottom: 1.5em;
}

#statbox ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#statbox ul li {
	font-size: smaller;
	white-space: nowrap;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

#statbox h3 {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid darkgray;
	margin-bottom: 0.5em;
}

#statbox img {
	max-width: 100%;
}

#statbox #statbox-image {
	float: left;
	max-width: 128px;
	max-height: 128px;
}

#statbox #statbox-name {
	font-size: large;
}

#statbox #statbox-header {
	text-align: center;
}
