---
# This is a Sass file. Jekyll will compile it to plain CSS.
---

$logoSize: 36px;
$searchBarPadding: 5px;
$topBarHeight: $logoSize;
$hitTitleWidth: 200px;
$hitIconSize: 36px;
$hitPadding: 5px;
$shadowSize: 4px;

#top-bar {
  background-color: #3f454b;
  overflow: hidden;
}

#site-logo {
  height: $logoSize;
  float: left;
}

/* ------------------------------ SEARCH BAR ------------------------------ */

#search-panel {
  display: inline-block;
  width: #{'calc(100% - #{$logoSize + 1})'};
  height: $topBarHeight;
}

#search-hits {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

#search-results .filters {
  /* TODO */
}

#search-results {
  position: absolute;
  width: #{'calc(100% - #{$logoSize + $shadowSize + 3})'};
  top: $topBarHeight + $shadowSize;
  left: $logoSize;
  background: #eee;
  box-shadow: $shadowSize $shadowSize $shadowSize lightgray;
  display: none;
  z-index: 1;
}

.ais-Hits-list {
  list-style: none;
  display: block;
  margin-top: 0;
}

.ais-Hits-item {
  width: #{'calc(100% - #{$shadowSize + 4*$hitPadding})'};
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  box-shadow: none;
  border: none;
}

.search-result {
  height: $logoSize;
}

.search-result:hover {
  background: #dd7;
}

.hit-icon {
  width: $hitIconSize;
  height: $hitIconSize;
  float: left;
}

.hit-title {
  display: inline-block;
  width: $hitTitleWidth;
  height: $hitIconSize;
  margin-left: $hitPadding;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hit-description {
  display: inline-block;
  width: #{'calc(100% - #{$hitTitleWidth + $hitIconSize + 2*$hitPadding + 18px})'};
  height: $hitIconSize;
  margin-left: $hitPadding;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  line-height: 17px;
}

.hit-name {
  display: inline-block;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#search-box {
  margin-top: $searchBarPadding;
  width: #{'calc(100% - #{$searchBarPadding})'};
  height: $topBarHeight;
}

#search-box input {
  height: $logoSize - 2*$searchBarPadding - 1;
}

#pagination {
  margin: 1rem auto;
  text-align: center;
}

/* ---------------------------- HAMBURGER MENU ---------------------------- */

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

#menuToggle {
	padding-left: 0.7em;
	padding-top: .7em;
	padding-bottom: .7em;
	z-index: 1;

	-webkit-user-select: none;
	user-select: none;

	background-color: #3f454b;
	overflow: hidden;
}

#menuToggle a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}

#menuToggle a:hover {
	color: tomato;
}


#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: 7px;
	left: 5px;

	cursor: pointer;

	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */

	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
	display: block;
	width: 36px;
	height: 4px;
	margin-bottom: 6px;
	position: relative;

	background: #cdcdcd;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition:
	transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu-ham {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;

	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu-ham li {
	list-style-type: none;
	padding: 10px 0;
	font-size: 22px;
}

#menu-ham ul {
	margin: 0;
	border-left: 1px solid gray;
	list-style-type: none;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
	transform: none;
}

#menuToggle details > summary:after {
	content: "▶";
	font-size: 16px;
	position: absolute;
	left: 230px;
}

#menuToggle details[open] > summary:after {
	content: "▼";
	font-size: 18px;
	left: 228px;
}

#menuToggle details>summary {
	list-style: none;
}

#menuToggle summary::-webkit-details-marker {
	display: none
}

#menuToggle summary {
	outline: none;
}
