<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/menus.css" />
		<link rel="stylesheet" href="/assets/css/infoboxes.css" />
		<link rel="stylesheet" href="/assets/css/sidebars.css" />
		<link rel="stylesheet" href="/assets/css/statbox.css"/>
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="/assets/css/lightbox.min.css" />
		<link rel="stylesheet" href="/assets/css/debo.css" />
		<link rel="stylesheet" href="/assets/css/plugin-grid.css"/>
	</head>
	<body class="is-preload">

		<!-- Navigation bar-->
		<section id="nav-page">
			{% include nav-bar %}
		</section>

		<!-- Page-info -->
		{% include page-info %}

		<section id="sidebar-left">
			<!-- Menu -->
			{% include main-menu %}

			<!-- Hamburger menu -->
			<nav role="navigation">
				<div id="menuToggle">
					<input type="checkbox" />
					<span></span>
					<span></span>
					<span></span>
					<ul id="menu-ham">
						{% include main-menu %}
					</ul>
				</div>
			</nav>
		</section>

		<!-- Page title -->
		<div class="container">
			<header class="major special">
				<h1><strong>{{page.title}}</strong></h1>
			</header>
		</div>

		<section id="sidebar-right">
			<!-- Vital stats -->
			{% include statbox %}

			<!-- Table of contents -->
			<div class="toc menu">
				<h3>Page contents</h3>
				<ul data-toc="#content" data-toc-headings="h1,h2,h3,h4,h5,h6"></ul>
			</div>
		</section>

		<!-- Main content -->
		<section id="page" class="main style1">
			<div class="container">
				<div class="box alt"></div>
				<div id="content" class="page-content">
					{{content}}
				</div>
			</div>
		</section>

		<!-- Footer -->
		{% include footer %}

		<!-- Scripts -->
		{% include base-scripts %}

	</body>
</html>
