<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		{% include html-head %}
	</head>
	<body class="is-preload">
		<!-- Top bar -->
		{% include top-bar %}

		<!-- Page-info -->
		{% include page-info %}

		<section id="sidebar-left">
			<!-- Menu -->
			{% include main-menu %}
		</section>

		<!-- Page title -->
		<div class="container">
			<header class="major special">
				<h1><strong>{{page.title}}</strong></h1>
			</header>
		</div>

		<section id="sidebar-right">
			<!-- Vital stats -->
			{% include statbox %}

			<!-- Table of contents -->
			<div class="toc menu">
				<h3>Page contents</h3>
				<ul data-toc="#content" data-toc-headings="h1,h2,h3,h4,h5,h6"></ul>
			</div>
		</section>

		<!-- Main content -->
		<section id="page" class="main style1">
			<div class="container">
				<div class="box alt"></div>
				<div id="content" class="page-content">
					{{content}}
				</div>
			</div>
		</section>

		<!-- Footer -->
		{% include footer %}

		<!-- Hamburger menu -->
		{% include hamburger-menu %}

		<!-- Search results -->
		{% include search-results %}

		<!-- Scripts -->
		{% include base-scripts %}
	</body>
</html>
