<!DOCTYPE html>
<html>
    <head>
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">


        <section id="page" class="main style1">
            <div class="container">
                <header class="major special">
					<h1><strong>{{page.title}}</strong></h1>
				</header>
					<ul class = "actions special">
						<li><a href="{{ site.baseurl }}/index" class="button icon solid fa-home">Home</a></li>
					</ul>
					<div class="box alt"></div>
						<!-- markdown content pushed here -->
						<div id="content">{{content}}</div>

		</section>
                    
        <!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="https://github.com/imagej" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; ImageJ/FIJI</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</section>

		<!-- Scripts -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.scrolly.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>

  </body>
</html>