<!DOCTYPE html>
<html>
    <head>
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Navigation bar-->
		{% include navigation-bar.html %}
		

        <section id="page" class="main style1">
            <div class="container">
                <header class="major special">
					<h1><strong>{{page.title}}</strong></h1>
				</header>
					<div class="box alt"></div>
						<!-- Page content -->
						<div id="content">{{content}}</div>
		</section>
                    
		<!-- Footer -->
		{% include footer.html %}

		<!-- Scripts -->
		{% include base-scripts.html %}
		{% if page.use_math %}
			{% include mathjax-scripts.html %}
		{% endif %}
		
  </body>
</html>