<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Navigation bar-->
		<section id="nav">
		{% include nav-bar %}
		</section>
		
		<!-- Main content -->
		<section id="page" class="main style1">
			<div class="container">
				<header class="major special">
					<h1><strong>{{page.title}}</strong></h1>
				</header>
				<div class="box alt"></div>
				<div class="search" id="content">
					{{content}}
				</div>
		</section>

		<!-- Footer -->
		{% include footer %}

		<!-- Scripts -->
		{% include base-scripts %}
	</body>
</html>
